
.table {
    border-collapse: collapse;

    thead {
      color: #ACACAC;

      th {
        padding-bottom: 15px;
      }
    }
    tbody {
      box-shadow: 3px 4px 11px 0px #00000021;
    }
   
    &-row {
      color: #707070;
      font-weight: bold;
      box-shadow: 0px 1px 6px #0000000f;

      &:hover {
        background-color: #55aee80f;
        cursor: pointer;
      }
    }
  
    &-cell{
      text-align: center;
      padding: 20px;
    }

  }

  .pagination {
    padding: 10px;
    text-align: center;
    font-size: 13px;
    &-btn {
      -webkit-appearance: none;
      background: #3c43bb;
      color: white;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      font-weight: bold;
      border: none;

      &:disabled {
        opacity: 0.7;
      }
    }
  }