.dashboard {
    background-color: #F8F9FD;
    width: 70%;
}

.projects {
    box-shadow: 3px 4px 11px 0px #00000021;
    position: relative;
    margin-top: 50px;

    &-header {
        position: absolute;
        top: -30px;
        width: 100%;
        display: flex;
        color: #ACACAC;
        font-weight: bold;

        span {
            width: 20%;
            text-align: center;
        }
    }
}