
.App {
  display: flex;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  margin: 80px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: #F8F9FD;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    width: calc(100% - 140px);
    padding: 50px 70px;
}