.project {
    display: flex;
    padding: 30px 20px;
    justify-content: space-between;
    border-bottom: 2px solid #d3d3d340;
    font-weight: bold;
    color: #707070;

    &:hover {
        background-color: #55aee80f;
        cursor: pointer;
     
    }

    span {
        width: 20%;
        text-align: center;
    }
}