
.sidebar {
    width: 30%;
    height: 120vh;
    background: linear-gradient(180deg, #56aee8 36%, #3b42ba 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &-link {
      text-decoration: none;
      color: white;
      font-size: 24px;
      font-weight: bold;
      padding: 10px;
      
    }
  
    .bottom-link {
      bottom: 50px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }